<template>
  <div id="app">
    <img src="./assets/logo.png">
    <input type="text" disabled>
    <input type="file">
    <input type="checkbox">
    <input type="radio">
    <input type="button">
    <button>11</button>
    <button primary>11</button>
  </div>
</template>

<script>
export default {
  name: 'App',
  mounted () {
    this.$root.LOGIN()
    console.log(this)
  }
}
</script>

<style lang="scss">
@import './style/comm.scss';
img {
  // height: 3000px;
}
</style>
